.clearfix {
    clear: both;
}

.ostoolbar-inline-suggestion,
.ostoolbar-inline-warning {
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.ostoolbar-inline-warning {
    background: lightgoldenrodyellow;
}

.ostoolbar-inline-suggestion {
    font-size: 13px;
}

.ostoolbar-inline-suggestion li {
    list-style-type: disc;
    margin-left: 33px
}