.clearfix {
    clear: both;
}

.ostoolbar-inline-suggestion,
.ostoolbar-inline-warning {
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.ostoolbar-inline-warning {
    background: lightgoldenrodyellow;
}

.ostoolbar-inline-suggestion {
    font-size: 13px;
}

.ostoolbar-inline-suggestion li {
    list-style-type: disc;
    margin-left: 33px
}

#toplevel_page_ostoolbare,
#toplevel_page_ostoolbar .dashicons-admin-generic::before {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

#toplevel_page_ostoolbar .dashicons-admin-generic::before,
#toplevel_page_ostoolbar .current .dashicons-admin-generic::before {
    background-image: url(../images/ost_icon.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
    background-size: 100% auto;
    content: " ";
}

#toplevel_page_ostoolbar:hover .wp-not-current-submenu .dashicons-admin-generic::before {
    background-position: 0 -33px;
